/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --primary-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --title-color: #db00ff;

  --section-title-color: var(--accent-color);
  --accent-text-color: var(--background-color);
  --article-text-color: var(--primary-color);
  --decorated-zone-color: var(--accent-color);
}
