/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

html {
  /* Переопределение базового размера шрифта для удобства вёрстки (1rem = 10px) */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--font-family, "IBM Plex Mono"), Arial, sans-serif;
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--main-font-size, 1.8rem); /* 1.8rem = 18px (см. правила html)*/
  line-height: var(--line-height, 130%);
  min-inline-size: 37.5rem;
  max-inline-size: 144rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
