/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

html {
  /* Переопределение базового размера шрифта для удобства вёрстки (1rem = 10px) */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(
    --main-font-size,
    1.8rem
  ); /* 1.8rem = 18px (см. правила html)*/
  line-height: var(--line-height, 130%);
  min-inline-size: 37.5rem;
  max-inline-size: 144rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-style: solid;
  border-color: var(--decorated-zone-color, #ff0070);
}

.decorated-zone::before {
  bottom: var(--section-padding, 1rem);
  left: var(--section-padding, 1rem);
  border-width: 0 0 0.1rem 0.1rem;
}

.decorated-zone::after {
  top: var(--section-padding, 1rem);
  right: var(--section-padding, 1rem);
  border-width: 0.1rem 0.1rem 0 0;
}

.hero-text {
  color: var(--title-color, #db00ff);
  font-weight: var(--font-weight-bold, 700);
  font-size: clamp(11.6rem, 11.2184rem + 1.0178vw, 12rem);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 0.4rem 0.4rem 0 var(--accent-color);
}

.title-decor {
  color: var(--accent-text-color, #000028);
  font-weight: var(--font-weight-bold, 700);
  background-color: var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .hero-text {
    font-size: clamp(12rem, 0.9rem + 14.4531vw, 15.7rem);
  }
}
