:root {
  --background-image: url(../images/cover-image-dark.png);
  --primary-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
  --title-color: #db00ff;
  --font-family: "IBM Plex mono", sans-serif;
  --main-font-size: 1.8rem; /* 1.8rem = 18px (см. html в globals.css )*/
  --line-height: 130%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --section-padding: 1rem;
  --section-content-gap: 2rem;

  --section-title-color: var(--accent-color);
  --accent-text-color: var(--background-color);
  --article-text-color: var(--primary-color);
  --decorated-zone-color: var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --section-padding: 2rem;
  }
}
